@model AllPetsViewModel

@{
    ViewData["Title"] = "All";
}

<h1>All Pets</h1>

<div>
    @if (!Model.PreviousDisabled)
    {
        <a href="/Pets/All?page=@Model.PrevPage" class="btn float-left btn-info">Prev</a>
    }

    @if (!Model.NextDisabled)
    {
        <a href="/Pets/All?page=@Model.NextPage" class="btn float-right btn-info">Next</a>
    }
</div>
<br />
<br />

<table class="table table-bordered table-striped">
    <tr>
        <th>Category</th>
        <th>Breed</th>
        <th>Gender</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var pet in Model.AllPets)
    {
        <tr>
            <td>@pet.Categoty</td>
            <td>@pet.Breed</td>
            <td> @pet.Gender</td>
            <td>@pet.Price</td>
            <td class="text-center">
                <a href="/Pets/Delete/@pet.Id" class="btn btn-danger btn-sm" >Delete</a>
            </td>
        </tr>
    }
</table>


